<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vrishankgupta.chatting">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/charity_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/charity_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatMainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AadharHomeActivity" />
        <activity android:name=".SavedAadhaarCardActivity" />
        <activity android:name=".RazorPayActivity" />
        <activity
            android:name=".AfterGoogleLogin"
            android:label="@string/title_activity_after_google_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProfileActivity" android:parentActivityName=".AfterGoogleLogin"></activity>
    </application>

</manifest>